.logoKenya {
    background: url('../img/ivizard.png');
    /* background-size: 70% 100%; */
    background-repeat: no-repeat;
    /* background-position-x: 32px; */
    background-color: white;
    float: left;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    width: 220px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
    height: 44px;
    display: block;
}

.navbar-brand {
    padding: 3px 15px !important;
}